body {
    background-color: #F3EEEA;
    margin: 0;
}

.heading-box {
    border-style: hidden hidden hidden solid;
    margin-left: 71.7px;
    justify-content: space-between;
}

.heading-box, header, aside {
    border-width: 1.3px;
    border-color: #181A1E;
}

.heading-box header nav ul {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    font-family: 'Lustria', sans-serif;
}

header nav ul a {
    text-decoration: none;
    color: #181A1E;
 }

header {  
    margin: 0;
    padding-top: 0.3px;
    font-size: 18px;
    border-style: hidden hidden solid hidden;
    text-align: center;
}

.asideone {
    height: 187.6%;
}

aside {
    margin: 0;
    height: 2410%;
    font-family: "Passion One", sans-serif;
    border-style: solid solid hidden hidden;
    float: left;
    padding: 2px;
    writing-mode: vertical-lr;
}

/* KONTAKT HTML */

.asidethree {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
}

.asideimg {
    width: 29%;
}

.headingbox-kontakt {
    margin-left: -71.7px;
}

.contact {
    height: 310px;
    margin-top: 40px;
    border-style: hidden hidden solid hidden;
    border-width: 1.3px;
}

.linkscontainer {
    margin-bottom: 20px;
}

.links {
    width: auto;
    height: 70px;
    display: flex;
    margin: 30px;
    padding: 30px;
}


/* SLUT */

.side {
    display: flex;
    transform: rotate(180deg);
    justify-content: space-between;
}

.frontpagevideo {
    width: 95.2%;
}

section {
    display: flex;
}

.frontpageimg {
    width: 39.3%;
}

.heading {
    font-family: 'Passion One', sans-serif;
    font-size: 60px;
    margin-top: 28px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0;
}

.content {
    text-align: justify;
    margin: 20px 40px 0;
    font-family: 'Lustria', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #181A1E;
}

.project-button {
    text-align: center;
}

.project-button button {
    text-decoration: #181A1E;
    background-color: transparent;
    border-style: hidden hidden solid hidden;
    border-width: 1.3px;
    font-family: 'Lustria', sans-serif;
    font-size: 18px;
    padding-bottom: 3px;
}

/* PROJEKTER SEKTION */

.flex-container, .top-children, .bottom-children {
    display: flex;
}

.flex-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #776B5D;
    flex-direction: column;
}

.top-children, .bottom-children {
    justify-content: space-evenly;
    align-items: center;
}

.child-container {
    display: flex;
    flex-wrap: wrap;
}

.child {
    padding: 5px;
    font-family: 'Passion One', sans-serif;
    font-size: 40px;
    color: #F3EEEA;
}

.number {
    margin: 20px;
    font-family:'Lustria', sans-serif;
    font-size: 45px;
    color: #F3EEEA;
}

.context {
    font-size: 15px;
    font-family:'Lustria', sans-serif;
    color: #F3EEEA;
    text-align: start;
}

/* FLOW 1 CASE 1 */

.bannertwo {
    width: 39.3%;
    float: right;
}

.intro {
    padding-top: 65px;
    font-size: 58px;
    font-family: 'Passion One', sans-serif;
}

.introduction {
    font-family: 'Lustria', sans-serif;
    font-size: 20px;
}

.summary-header {
    text-align: center;
    font-family: 'Passion One', sans-serif;
    color: #F3EEEA;
    background-color: #B0A695;
    margin: 0;
    margin-left: 70.4px;
    padding-top: 20px;
}

.summary {
    color: #F3EEEA;
    font-family: 'Passion One', sans-serif;
    letter-spacing: 1px;
    background-color: #B0A695;
    margin: auto;
    width: 100%;
    padding-bottom: 9px;
    display: grid;
	grid-template-columns: auto auto auto;
}

.column {
    padding: 16px;
    height: 250px;
    margin: 5px;
}

.progress-container {
    text-align: center;
    padding: 15px;
}

.progress {
    font-size: 50px;
    font-family: 'Passion One', sans-serif;
}

.progress-context {
    color: #181A1E;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 100px;
    text-align: left;
}

.progress-column {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}

.columnp {
    width: auto;
    height: 378px;
    margin: 20px;
}

/* FLOW 1 CASE 2 */

.bannerthree {
    width: auto;
    height: 750px;
}

/* FLOW 2 CASE 1 */

.albumfrontpage {
    position: relative;
}

.albumtext {
    position: absolute;
    top: 0;
    left: 0;
    padding: 45px;
    color: #F3EEEA;
}

.album {
    width: auto;
    height: 110px;
    margin: 2px;
}

.album-cover {
    width: 100%;
}


/* FLOW 3 CASE 1 */

.bannerfour {
    width: auto;
    height: 600px;
}