@import url(https://fonts.google.com/specimen/Parisienne?classification=Handwriting);

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 190vh;
    overflow: auto;
    background: no-repeat;
    background-attachment: fixed;
  }
  

h1,h3 {
    font-family: 'Parisienne';
    color: #222222;
    text-align: center;
}


.container {
    width: 1250px;
    min-height: 550px;
    background-color:#fffbe7;
    text-align: start;
    padding: 20px;
    opacity: 95%;
    box-sizing: border-box;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }


.scroll-button {
    font-family: 'Parisienne';
    background-color: transparent;
    color: #222222;
    border: 2px solid #222222;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.scroll-button:hover {
    background-color: #222222;
    color: aqua;
}

html {
    scroll-behavior: smooth;
}





.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.menu-item img {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
}

.menu-description {
    flex: 1;
}

.menu-description h2 {
    font-size: 20px;
    margin: 0;
}

.menu-description p {
    font-size: 16px;
    margin: 20;
}

