* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: beige;
    margin: 10px;
  }
  
/* HEADER DELEN */
  
  .logo {
    margin-right: 20px;
    text-align: left;
  }
  
  .logo img {
    height: 50px;
  }
  
  .topmenu {
    display: flex;
    justify-content: space-between;
    background-color: #842990;
    padding: 10px 0;
  }
  
  .topmenu ul {
    list-style-type: none;
    display: flex;
  }
  
  .topmenu li {
    margin-right: 20px;
  }
  
  .topmenu a {
    color: white;
    text-decoration: none;
    padding: 15px;
  }
  
  .topmenu a:hover {
    background-color: #111;
  }
  
/* ALT CONTENT DELEN */
  
  .main {
    padding: 20px;
  }
  
  .content {
    background: white;
    margin-bottom: 10px;
    padding: 20px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .box {
    background-color: #842990;
    margin: 10px;
    padding: 10px; /* Adjust padding for better spacing */
    color: white;
    font-size: 25px;
    text-align: center;
    width: 300px;
  }
  
  /* Footer Section */
  
  footer {
    background: white;
    height: 60px;
    text-align: center;
  }
  