body{
    font-family:'Courier New', Courier, monospace

    /* font-family:'Courier New', Courier, monospace
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
}

h1,h2,h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

h3{
    color:green;

}


.saerling{
    font-size:20;
    text-align:center;
    color:blueviolet

}